@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic');
@import 'slick';
/* =================
    COMMON
 ================= */

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  box-sizing: content-box;
}

body {
  margin: 0;
  box-sizing: inherit;
}

.container {
  max-width: 1000px;
  width: 100%;
}

// ARROWS

.arrow {
  display: flex;
  justify-content: center;
  i {
    font-size: 2em;
    color: #323676;
  }
}

.header-wrapper .arrow {
  display: flex;
  justify-content: center;
  i {
    font-size: 2em;
    animation: change 5s infinite ease-in-out alternate;
  }
}

@keyframes change {
  0% {color:#F78FAD;}
  20% {color: #41D8DD;}
  40% {color: #54E38E;}
  60% {color: #E13680;}
  80% {color: #6DE195;}
  100% {color: #A16BFE;}
}

// CONSTANTS
$main-opacity: .8;
$main-font-color: #323676;

@media screen and (max-width: 599px) {
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 600px) {
  .container {
    width: 90%;
  }
}

/* =================
    HEADER    
 ================= */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url('./img/fon.jpg') no-repeat right;
  background-size: cover;
  color: white;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
}

.header-logo {
  font-size: 2em;

  span {
    font-weight: 100;
  }
  
  strong {
    font-weight: 900;
  }
}

.header-contacts {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 300;
  opacity: $main-opacity;
}

.header-contacts a,
.header-contacts span {
  color: white;
  text-decoration: none;
}

.header-utp {
  font-weight: 900;

  span {
    color: #93c9eb;
  }
}

.header-free {
  padding: 0;
  font-size: 1.2rem;
  font-weight: 300;
  list-style: none;
  opacity: $main-opacity;

  li:first-child {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 599px) {
  .header {
    background: linear-gradient(to right, #313574, #4f58d4);
  }
  .header-utp {
    margin-bottom: 0;
    font-size: 4.3em;
  }
}

@media screen and (min-width: 600px) {
  .header {
    background-position: top right;
  }
  .header-utp {
    font-size: 6em;
  }
  .header-utp {
    margin-bottom: inherit;
  }
}
@media screen and (min-width: 900px) {
  .header-utp {
    font-size: 7em;
  }
}
@media screen and (min-width: 1200px) {
  .header-utp {
    font-size: 11em;
  }
}


/* =================
    SLIDER
 ================= */
 
 .slider {
   display: flex;
   justify-content: center;
 }

 .slider-main-img {
    display: flex;
  }

  .slider-main-img-mockup {
    display: flex;
  }

  .slider-caption {
    font-weight: 300;
    color: $main-font-color;
    text-align: center;
  }

  .lawyer { 
    .main-img:first-child {background: linear-gradient(to bottom, #fff, rgb(219, 219, 219));}
    .main-img:last-child {background: linear-gradient(to bottom, rgb(8, 30, 59), rgb(7, 1, 24));}
  }
  .bike { 
    .main-img:first-child {background: #fff;}
    .main-img:last-child {background: #000;}
  }
  .five { 
    .main-img:first-child {background: linear-gradient(45deg,#D8B593,white);}
    .main-img:last-child {background: linear-gradient(-225deg, #6868, rgba(102,85,34,.1));}
  }
  .iblag { 
    .main-img:first-child {background: linear-gradient(45deg, rgb(249, 255, 199), white);}
    .main-img:last-child {background: linear-gradient(to bottom, rgb(30, 74, 131), rgb(7, 1, 24));}
  }
  .city { 
    .main-img:first-child {background: linear-gradient(to bottom, #fff, rgb(219, 219, 219));}
    .main-img:last-child {background: linear-gradient(45deg, purple, blue);}
  }
  .woman { 
    .main-img:first-child {background: linear-gradient(to bottom, rgb(8, 30, 59), rgb(7, 1, 24));}
    .main-img:last-child {background: linear-gradient(45deg,#764D6F, #47256e);}
  }
  .packlabs { 
    .main-img:first-child {background: linear-gradient(to bottom, rgb(250, 250, 250), rgb(241, 241, 241));}
    .main-img:last-child {background: linear-gradient(45deg,#006868, #47256e);}
  }


@media screen and (max-width: 599px) {
  .slider-wrapper {
    padding: 2em 0;
  }
  .main-img {
    padding: 1em;
  }
  .main-img img {
    width: 100%;
  }
  .slider-main-img-mockup img {
    width: 50%;
    height: 50%;
  }
}
@media screen and (min-width: 600px) {
  .slider-wrapper {
    padding: 2em 0;
  }
  .main-img {
    padding: 4em;
  }
  .main-img img {
    width: 100%;
  }
  .slider-main-img-mockup img {
    width: 50%;
    height: 50%;
  }
  .slider-main-img-mockup img {
    width: 50%;
    height: 50%;
  }
}
@media screen and (min-width: 900px) {
  .slider-wrapper {
    padding: 4em 0;
  }
}
@media screen and (min-width: 1200px) {
  .slider-wrapper {
    padding: 6em 0;
  }
}

/* =================
    TERMS
 ================= */
  .terms {
    display: flex;
    justify-content: center;
    background-color: rgb(250, 250, 250);
  }

  .terms-head {
    color:  $main-font-color;
  }

  .terms-list {
    padding: 0;
    list-style: none;
  }
  .terms-item {
    font-weight: 300;
    color: $main-font-color;
  }


@media screen and (max-width: 599px) {
  .terms-wrapper {
    padding: 2em 0;
  }
}
@media screen and (min-width: 600px) {
  .terms-wrapper {
    padding: 2em 0;
  }
}
@media screen and (min-width: 900px) {
  .terms-wrapper {
    padding: 4em 0;
  }
}
@media screen and (min-width: 1200px) {
  .terms-wrapper {
    padding: 6em 0;
  }
}

 /* =================
    QUESTIONS
 ================= */

 .questions {
  display: flex;
  justify-content: center;
}

.questions-wrapper p{
  font-weight: 300;
  color: $main-font-color;
}

.questions-head {
  color:  $main-font-color;
}

@media screen and (max-width: 599px) {
.questions-wrapper {
  padding: 2em 0;
}
}
@media screen and (min-width: 600px) {
.questions-wrapper {
  padding: 2em 0;
}
}
@media screen and (min-width: 900px) {
.questions-wrapper {
  padding: 4em 0;
}
}
@media screen and (min-width: 1200px) {
.questions-wrapper {
  padding: 6em 0;
}
}

 /* =================
    FOOTER
 ================= */
 .footer {
  display: flex;
  justify-content: center;
  background-color: $main-font-color;
}

.footer-head {
  color: rgb(250, 250, 250);
}

@media screen and (max-width: 599px) {
.footer-wrapper {
  padding: 2em 0;
}
}
@media screen and (min-width: 600px) {
.footer-wrapper {
  padding: 2em 0;
}
}
@media screen and (min-width: 900px) {
.footer-wrapper {
  padding: 4em 0;
}
}
@media screen and (min-width: 1200px) {
.footer-wrapper {
  padding: 6em 0;
}
}