@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic");
/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-left: 0;
  list-style: none;
  text-align: right; }

@media (max-width: 599px) {
  .slick-dots {
    bottom: -35px;
    text-align: center; } }

@media (min-width: 600px) {
  .slick-dots {
    bottom: -35px;
    text-align: center; } }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 50px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '';
  display: block;
  background-color: #cccccc;
  text-align: center;
  opacity: .25;
  border-radius: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media (max-width: 599px) {
  .slick-dots li button:before {
    width: 10px;
    height: 10px; } }

@media (min-width: 600px) {
  .slick-dots li button:before {
    width: 10px;
    height: 10px; } }

.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #323676; }

/* =================
    COMMON
 ================= */
:root {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

body {
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.container {
  max-width: 1000px;
  width: 100%; }

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .arrow i {
    font-size: 2em;
    color: #323676; }

.header-wrapper .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header-wrapper .arrow i {
    font-size: 2em;
    -webkit-animation: change 5s infinite ease-in-out alternate;
            animation: change 5s infinite ease-in-out alternate; }

@-webkit-keyframes change {
  0% {
    color: #F78FAD; }
  20% {
    color: #41D8DD; }
  40% {
    color: #54E38E; }
  60% {
    color: #E13680; }
  80% {
    color: #6DE195; }
  100% {
    color: #A16BFE; } }

@keyframes change {
  0% {
    color: #F78FAD; }
  20% {
    color: #41D8DD; }
  40% {
    color: #54E38E; }
  60% {
    color: #E13680; }
  80% {
    color: #6DE195; }
  100% {
    color: #A16BFE; } }

@media screen and (max-width: 599px) {
  .container {
    width: 90%; } }

@media screen and (min-width: 600px) {
  .container {
    width: 90%; } }

/* =================
    HEADER    
 ================= */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url("./img/fon.jpg") no-repeat right;
  background-size: cover;
  color: white; }

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.header-logo {
  font-size: 2em; }
  .header-logo span {
    font-weight: 100; }
  .header-logo strong {
    font-weight: 900; }

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.8; }

.header-contacts a,
.header-contacts span {
  color: white;
  text-decoration: none; }

.header-utp {
  font-weight: 900; }
  .header-utp span {
    color: #93c9eb; }

.header-free {
  padding: 0;
  font-size: 1.2rem;
  font-weight: 300;
  list-style: none;
  opacity: 0.8; }
  .header-free li:first-child {
    font-size: 1.4rem;
    font-weight: 600; }

@media screen and (max-width: 599px) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(#313574), to(#4f58d4));
    background: linear-gradient(to right, #313574, #4f58d4); }
  .header-utp {
    margin-bottom: 0;
    font-size: 4.3em; } }

@media screen and (min-width: 600px) {
  .header {
    background-position: top right; }
  .header-utp {
    font-size: 6em; }
  .header-utp {
    margin-bottom: inherit; } }

@media screen and (min-width: 900px) {
  .header-utp {
    font-size: 7em; } }

@media screen and (min-width: 1200px) {
  .header-utp {
    font-size: 11em; } }

/* =================
    SLIDER
 ================= */
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slider-main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider-main-img-mockup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider-caption {
  font-weight: 300;
  color: #323676;
  text-align: center; }

.lawyer .main-img:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dbdbdb));
  background: linear-gradient(to bottom, #fff, #dbdbdb); }

.lawyer .main-img:last-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#081e3b), to(#070118));
  background: linear-gradient(to bottom, #081e3b, #070118); }

.bike .main-img:first-child {
  background: #fff; }

.bike .main-img:last-child {
  background: #000; }

.five .main-img:first-child {
  background: linear-gradient(45deg, #D8B593, white); }

.five .main-img:last-child {
  background: linear-gradient(-225deg, #6868, rgba(102, 85, 34, 0.1)); }

.iblag .main-img:first-child {
  background: linear-gradient(45deg, #f9ffc7, white); }

.iblag .main-img:last-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e4a83), to(#070118));
  background: linear-gradient(to bottom, #1e4a83, #070118); }

.city .main-img:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dbdbdb));
  background: linear-gradient(to bottom, #fff, #dbdbdb); }

.city .main-img:last-child {
  background: linear-gradient(45deg, purple, blue); }

.woman .main-img:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#081e3b), to(#070118));
  background: linear-gradient(to bottom, #081e3b, #070118); }

.woman .main-img:last-child {
  background: linear-gradient(45deg, #764D6F, #47256e); }

.packlabs .main-img:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f1f1f1));
  background: linear-gradient(to bottom, #fafafa, #f1f1f1); }

.packlabs .main-img:last-child {
  background: linear-gradient(45deg, #006868, #47256e); }

@media screen and (max-width: 599px) {
  .slider-wrapper {
    padding: 2em 0; }
  .main-img {
    padding: 1em; }
  .main-img img {
    width: 100%; }
  .slider-main-img-mockup img {
    width: 50%;
    height: 50%; } }

@media screen and (min-width: 600px) {
  .slider-wrapper {
    padding: 2em 0; }
  .main-img {
    padding: 4em; }
  .main-img img {
    width: 100%; }
  .slider-main-img-mockup img {
    width: 50%;
    height: 50%; }
  .slider-main-img-mockup img {
    width: 50%;
    height: 50%; } }

@media screen and (min-width: 900px) {
  .slider-wrapper {
    padding: 4em 0; } }

@media screen and (min-width: 1200px) {
  .slider-wrapper {
    padding: 6em 0; } }

/* =================
    TERMS
 ================= */
.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa; }

.terms-head {
  color: #323676; }

.terms-list {
  padding: 0;
  list-style: none; }

.terms-item {
  font-weight: 300;
  color: #323676; }

@media screen and (max-width: 599px) {
  .terms-wrapper {
    padding: 2em 0; } }

@media screen and (min-width: 600px) {
  .terms-wrapper {
    padding: 2em 0; } }

@media screen and (min-width: 900px) {
  .terms-wrapper {
    padding: 4em 0; } }

@media screen and (min-width: 1200px) {
  .terms-wrapper {
    padding: 6em 0; } }

/* =================
    QUESTIONS
 ================= */
.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.questions-wrapper p {
  font-weight: 300;
  color: #323676; }

.questions-head {
  color: #323676; }

@media screen and (max-width: 599px) {
  .questions-wrapper {
    padding: 2em 0; } }

@media screen and (min-width: 600px) {
  .questions-wrapper {
    padding: 2em 0; } }

@media screen and (min-width: 900px) {
  .questions-wrapper {
    padding: 4em 0; } }

@media screen and (min-width: 1200px) {
  .questions-wrapper {
    padding: 6em 0; } }

/* =================
    FOOTER
 ================= */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #323676; }

.footer-head {
  color: #fafafa; }

@media screen and (max-width: 599px) {
  .footer-wrapper {
    padding: 2em 0; } }

@media screen and (min-width: 600px) {
  .footer-wrapper {
    padding: 2em 0; } }

@media screen and (min-width: 900px) {
  .footer-wrapper {
    padding: 4em 0; } }

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    padding: 6em 0; } }
