@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|Roboto:100,300,400,500,700,900&display=swap');

/*
===============
CONSTANTS
===============
*/
$padd-599: 1em;
$padd-600: 1em;
$padd-900: 1em;
$padd-1200: 1em;
$text-color: #333333;
/*
===============
MIXINS
===============
*/
@mixin flex-column($align-items) {
  display: flex;
  flex-direction: column;
  align-items: $align-items;
}
@mixin flex-row($align-items) {
  display: flex;
  align-items: $align-items;
}

/*
===============
COMMON
===============
*/
:root {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  @include flex-column(center);
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  color: $text-color;
  text-decoration: none;
}

@media screen and (max-width: 599px) {
  :root {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 600px) {
  :root {
    font-size: 1em;
  }
}
@media screen and (min-width: 900px) {
  :root {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    font-size: 1.5em;
  }
}

/*
===============
HEADER
===============
*/

header {
  @include flex-row(flex-end);
  width: 100%;
  img {
    width: 600px;
    margin-left: auto;
    order: 1;
  }
  .header__text {
    @include flex-column(flex-start);
    font-weight: 300;
    span {
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 0.2em;
      background-color: $text-color;
      color: #fff;
      border-radius: 2px;
    }
    .icons {
      @include flex-row(flex-start);
      margin-top: 1em;
      a {
        margin-right: 0.5em;
      }
      .resume {
        background-color: #d32222;
        font-weight: 300;
        color: #fff;
        border-radius: 100px;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  header {
    @include flex-column(center);
    justify-content: center;
    min-height: 100vh;
    img {
      width: 200px;
      margin-left: 0;
      order: 0;
    }
    .header__text {
      @include flex-column(center);
      margin-top: 1.5em;
      span {
        padding: 0.4em;
      }
      a {
        font-size: 1.3em;
      }
      .icons {
        @include flex-row(flex-start);
        margin-top: 1.5em;
        img {
          width: 30px;
          height: 30px;
        }
        .resume {
          padding: 0.45em;
          font-size: 1rem;
        }
      }
    }
  }
}
@media screen and (min-width: 600px) {
  header {
    max-width: 600px;
    img {
      width: 300px;
    }
    .header__text {
      .icons {
        img {
          width: 38px;
          height: 38px;
        }
        .resume {
          padding: 0.6em;
          font-size: 0.95rem;
        }
      }
    }
  }
}
@media screen and (min-width: 900px) {
  header {
    max-width: 900px;
    img {
      width: 400px;
    }
    .header__text {
      .icons {
        img {
          width: 45px;
          height: 45px;
        }
        .resume {
          padding: 0.6em;
          font-size: 0.95rem;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  header {
    max-width: 1200px;
    img {
      width: 600px;
    }
    .header__text {
      .icons {
        img {
          width: 50px;
          height: 50px;
        }
        .resume {
          padding: 0.9em;
          font-size: 0.7rem;
        }
      }
    }
  }
}

/*
===============
PROJECTS
===============
*/

.projects {
  @include flex-column(center);
  width: 100%;
  margin-bottom: 2em;
  h2 {
    align-self: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Orbitron';
    letter-spacing: 1px;
  }
  .projects-wrapper {
    width: 100%;
    .project {
      @include flex-row(center);
      width: 100%;
      margin-bottom: 2em;
      .project-img {
        width: 50%;
        h3 {
          margin-bottom: 0.5em;
        }
        img {
          width: 100%;
          box-shadow: 0px 0px 5px #999;
          border-radius: 2px;
        }
        .links {
          @include flex-row(baseline);
          a {
            margin-right: 1em;
            padding-left: 0.5em;
            padding-right: 0.5em;
            font-size: 0.8rem;
            color: #fff;
            background-color: #d32222;
            border-radius: 2px;
          }
        }
      }
      .description {
        width: 50%;
        padding-left: 2em;
        text-align: right;
        p {
          font-weight: 300;
        }
      }
    }
    .project:nth-child(even) {
      flex-direction: row-reverse;
      .project-img {
        h3 {
          text-align: right;
        }
        .links {
          flex-direction: row-reverse;
          a {
            margin-right: 0;
            margin-left: 1em;
          }
        }
      }
      .description {
        text-align: left;
        padding-left: 0;
        padding-right: 2em;
      }
    }
    .project:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 599px) {
}
@media screen and (min-width: 600px) {
  .projects {
    max-width: 600px;
  }
}
@media screen and (min-width: 900px) {
  .projects {
    max-width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .projects {
    max-width: 1200px;
  }
}

/*
===============
FOOTER
===============
*/

footer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #333333;
}

@media screen and (max-width: 599px) {
}
@media screen and (min-width: 600px) {
}
@media screen and (min-width: 900px) {
}
@media screen and (min-width: 1200px) {
}
