.media {
  @include flex-just-cont-center();
  padding-top: 6em;
  padding-bottom: 8em;
  background-color: #f0f0f0;
}

.media__wrapper {
  @include flex-box-col-center-all();
  padding: 0px;
  margin: 0px;
}

.media__head {
  align-self: flex-start;
  margin-bottom: 2em;
}

.media__main__video {
  display: flex;
  width: 1000px;
  height: 765px;
}

@media screen and (max-width: 599px) {
  .media__main__video {
    width: 100%;
    height: 56.25%;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
