body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
}

h1 {
  width: 100%;
  text-align: center;
  color: teal;
}

svg {
  margin: 1em;
  background: rgba(255, 255, 255, 0.9);
}
.axis path,
.axis line {
  stroke: teal;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: Optima, Futura, sans-serif;
  font-weight: bold;
  font-size: 14px;
  fill: teal;
}
